* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 5px;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #171616;
  background-color: #e3dfd5;
}
ul,
ol {
  list-style-type: none;
}
.container {
  padding: 45px 75px;
}
.container.main {
  padding-top: 15px;
  max-width: 1180px;
  margin: 0 auto;
}

/* ========== header ========== */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--logo--block {
  font-size: 8rem;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.header--nav--block {
  display: flex;
  gap: 35px;
  font-size: 4rem;
  padding-top: 5px;
}
.header--nav--link {
  padding: 7px;
  cursor: pointer;
}
.header--nav--link:after {
  display: block;
  margin-top: 5px;
  content: "";
  border-bottom: 2px solid #171616;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.header--nav--link:hover:after {
  transform: scaleX(1);
}

/* ========== main ========== */

.wrapper--main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 25px;
  font-size: 4rem;
  background-color: #ebe8e1;
  border-radius: 20px;
  padding: 30px;
}
/* .wrapper--main section {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
.section--data--block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper--data--block {
  display: flex;
  background-color: #faf7f7;
  border-radius: 10px;
  padding: 10px;
  font-size: 3rem;
}

/* ========== accounts-balance ========== */

.section--balance {
  grid-area: 1/1;
}
.wrapper--balance {
  flex-direction: column;
  font-size: 4rem;
  gap: 15px;
}
.accounts--balance--total {
  font-size: 5rem;
  width: fit-content;
  background-color: #ebe8e1;
  padding: 10px;
  border-radius: 10px;
  font-size: 6rem;
}
.wrapper--balance--blocks {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}
.balance--block {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
}
.balance--block--UAH {
  background-color: #cfb672;
}
.balance--block--USD {
  background-color: #61855f;
}
.balance--block--EUR {
  background-color: #3567a1;
}
.currency--sign {
  display: block;
  font-size: 6.5rem;
}

/* ========== currencyRate ========== */

.section--currencyRate {
  grid-area: 1/2;
}
.wrapper--currencyRate {
  text-align: center;
  flex-direction: column;
}
.table--currencyRate {
  border-collapse: collapse;
}
.table--currencyRate td,
.table--currencyRate th {
  padding: 7px;
}
tbody td:not(td:last-child) {
  border-right: 1px solid;
}
.currencyRate--date {
  color: #a6a6a6;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 15px;
}

/* ========== analytics ========== */

.section--analytics {
  grid-row: 2;
  grid-column: 1/2 span;
}
.wrapper--analytics {
  flex-direction: row;
  justify-content: space-between;
}
.analytics--block {
  height: 100px;
  width: 250px;
  background-color: #fff;
}

/* ========== transations ========== */

.section--transations {
  grid-row: 3;
  grid-column: 1/2 span;
}
.wrapper--transactions {
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.transaction--block {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 5rem;
  display: flex;
  align-items: center;
  gap: 10px;  
  padding: 40px 15px;
}
.block--revenue {
  /* background-color: #6aa667; */
  background-color: #61855f;
}
.block--expense {
  background-color: #ad5155;
}
